container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"
    "/angular/": "www/angular/"
files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin: "http://localhost:4200"
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept, Cache-Control, Postman-Token"
        Header set Access-Control-Allow-Credentials: true
 
        SetOutputFilter DEFLATE
      </Location>

      <Location "/angular/">
        RewriteEngine On
        
        # Don't rewrite files or directories
        RewriteCond %{REQUEST_FILENAME} -f [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ - [L]

        # Rewrite everything else to index.html
        # to allow html5 state links
        RewriteRule ^ index.html [L]
      </Location>